
<div class="beers">
  {{#each beers}}
    <div class="beer-cart">
        <img src="{{this.image_url}}" alt="" height="110px;">
        <h1>{{this.name}}</h1>
        <h2> {{this.tagline}}</h2>
        <p>{{this.description}}</p>
    </div>
  {{/each}}

</div>

